form {
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="submit"] {
    width: 80%;
    padding: 10px;
    margin: 30px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #f0a9cb;
}
h4{
    text-align: center;
    background-color:rgb(220, 219, 251);

}
table {
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
tr:hover {
    text-decoration: underline;
}
.btn-custom:hover {
    background-color:#efa1c7 !important;
    color: white;
  }